body {
    margin: 0 0;
    background-color: #02c39a;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    max-width: 30%;
    height: 35rem;
    margin: 2rem auto;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
}

.balance-data .balance {
    color: green;
}

table .entry {
    display: flex;
    max-width: 100%;
    min-height: 10rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: auto 1rem;
}

table .type {
    max-width: 50em;
    outline: none;
    min-height: 2rem;
    font-size: 0.8rem;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

table .amount {
    max-width: 70%;
    min-height: 2.4rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    outline: none;
    margin-top: 0.5rem;
    text-align: center;
}

table .amount::placeholder {
    text-align: center;
    font-size: 1rem;
}


table .submit-entry {
    max-width: 100%;
    min-height: 2.2rem;
    margin-top: 1rem;
    background-color: #e0f0ec;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 0.2rem 1rem;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}


.submit-entry:hover {
    background-color: #02c39a;
    color: #FFFFFF;
    font-weight: bold;
}

section .transaction-history {
    border: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 5rem;
    overflow: auto;
    border-radius: 6px;
    text-align: center;
}

section .transaction-history .data {
    display: flex;
    max-width: 60%;
    font-size: 0.8rem;
    text-align: center;
}

section .transaction-history .data p {
    margin-right: 2em;
}

.color1 {
    color: red;
}

.color2 {
    color: green;
}
